/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

:root{
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    
    --border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom -5em right;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
}

#full-container{
    max-width: 68em;
    width: 90%;
    margin: 4em auto;
}

main{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#main-text{
    width: 80%;
}

#main-text h1{
    color: var(--very-dark-magenta);
    font-weight: 700;
    font-size: 2.5em;
}

#main-text h2{
    color: var(--dark-grayish-magenta);
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 1em;
}

#main-rating{
    display: -ms-grid;
    display: grid;
    gap: 1.2em;
}

.rating-box{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: var(--light-grayish-magenta);
    border-radius: var(--border-radius);
    color: var(--very-dark-magenta);
    font-weight: 700;
    padding: 1em 2em;
    width: 88%;
}

.rating-box p{
    font-size: 0.85em;
}

.rate-one{
    -ms-grid-column-align: start;
        justify-self: start;
}

.rate-two{
    -ms-grid-column-align: center;
        justify-self: center;
}

.rate-three{
    -ms-grid-column-align: end;
        justify-self: end;
}

#cards-section{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: 1fr 1.5em 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    margin: 0 auto;
    margin-top: 5em;
}

.card-container{
    min-height: 20em;
    display: -ms-grid;
    display: grid;
}

.card-container .one{
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}

.card-container .two{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.card-container .three{
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}

.card-wrapper{
    background-color: var(--very-dark-magenta);
    color: white;
    height: 88%;
    border-radius: var(--border-radius);
    padding: 2em;
}

.card-wrapper p{
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 2em;
}

.card-header{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 5fr;
    grid-template-columns: 1fr 5fr;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1em;
}

.card-header img{
    border-radius: 50%;
    height: 3em;
}

.card-header-text h3{
    font-weight: 500;
}

.card-header-text h4{
    font-weight: 400;
    color: var(--soft-pink);
}

.card-header-text h3, .card-header-text h4{
    font-size: 0.9em;
}

@media screen and (max-width:850px){
    body{
        background-image: url('images/bg-pattern-top-mobile.svg'), url('images/bg-pattern-bottom-mobile.svg');
    }

    main{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #main-text{
        text-align: center;
        margin: 0 auto;
    }

    #main-text h1{
        color: var(--very-dark-magenta);
        font-weight: 700;
        font-size: 2em;
    }

    #main-rating{
        margin-top: 2em;
    }

    .rating-box{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
    }

    .rate-one{
        -ms-grid-column-align: center;
            justify-self: center;
    }
    
    .rate-three{
        -ms-grid-column-align: center;
            justify-self: center;
    }

    #cards-section{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 0em;
        margin-top: 4em;
        max-width: 30em;
    }

    .card-container{
        min-height: 20em;
    }

    .card-container .two{
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
    }
    
    .card-container .three{
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
    }
}